.home-container {
  height: 78%;
  margin: 10px;
  color: #66FF66;
  /* border: 2px dashed #66FF66; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.bb-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@keyframes hover {
  0% { top: 20px }
  25% { top: 15px }
  50% { top: 10px }
  75% { top: 5px }
  100% { top: 0px }
}

.bb-logo {
  width: 200px;
  position: relative;
  border: 2px dashed #66FF66;
  border-radius: 120px;
  /* animation: hover linear 1s infinite alternate;  */
}

@keyframes fadeIn {
  0% { background-color: rgb(66, 65, 65); }
  100% { background-color: none; }
}

.first-name {
  display: flex;
  justify-content: center;
  /* animation: fadeIn 2s infinite;  */
  font-size: 14px;
  width: 200px;
  margin-left: 50px;
  margin-bottom: 4px;
  margin-top: 20px;
}

.last-name {
  display: flex;
  justify-content: center;
  /* animation: fadeIn 2s infinite;  */
  font-size: 14px;
  width: 270px;
  margin-left: 20px;
}

.ascii-button-container {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}


.ascii-button-container a {
  text-decorations: none; 
  color: inherit;
}

.ascii-button {
  border: 2px dotted #66FF66;
  margin-top: 30px;
  width: 270px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

.ascii-button:hover {
  background-color: rgb(66, 65, 65);
}

