.software-engineer-container {
  height: 78%;
  margin: 10px;
  color: #66FF66;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills {
  /* text-align: center; */
}

.shields-container {
  /* margin-left: 100px;
  margin-right: 100px; */
}

.shields-container img {
  margin: 4px;
  border: 2px solid #66FF66; 
}