.footer-container {
  height: 9%;
  margin: 10px;
  color: #66FF66;
  border: 2px dashed #66FF66;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logos-wrapper {
  display: flex;
  justify-content: center;
}

.logos {
  width: 40px;
  background: #66FF66;
  border-radius: 50%;
  border: 1px solid #66FF66;
  margin: 20px;
}

.logos:hover {
  background-color: #45b245;
}



